#heading {
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    padding: 10px;
    background-color: blueviolet;
}
button, select {
    margin: 3px;
    background-color: whitesmoke;
}
#heading span {
    color: whitesmoke;
}
h2 {
    padding: 60px 50px 10px 50px;
}
@media (max-width:999px) {
    #chart {
        width:97%;
        margin: auto auto;
    }
}
@media (min-width:1000px) {
    #chart {
        width:75%;
        margin: auto auto;
    }
}
#chart span {
    display: inline-block;
    margin: 0 3 5 0;
    min-width:50px;
}
#chart div.bar {
    margin-left: 10px;
    display: inline-block;
    height: 3px;
    background-color: blue;
    vertical-align: middle;
}
#chart div.top-ten-bar div {
    height: 3px;
    background-color: blue;
    vertical-align: middle;
    display: inline-block;
    /* margin: 8px; */
}
#chart div.top-ten-bar span {
    font-size: x-small;
    margin: 0px;
}
#footer {
    text-align: center;
    color: whitesmoke;
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
}
#footer a {
    color: springgreen;
}
#top10 {
    float: right;
    margin-right: 30px;
}
/* @media (pointer: none), (pointer: coarse) {
    #heading #buttons button {
        display: none;
    }
}
@media (pointer: fine) {
    #heading #selectFilter {
        display: none;
    }
} */